body{
    min-width: 2560px;
}
#contact_modal {
    display: none;
}


header{
    margin-top: 75px;
}
.logo {
    height: 100px;
    margin-left: 100px;
}

.photographer_header {
    background-color: #FAFAFA;
    height: auto;
    margin: 0 100px;
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    min-width: none;
}

.photographer{
    margin-top: 25px;
    margin-left: 25px;
}

.photographer_header article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: 75px;
    margin-bottom: 100px;

}
.photographer__infos{
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    margin-right: 150px;

}

.photographer_header article h3 {
    color: #D3573C;
    font-size: 115px;
    margin-top: 110px; 
    margin-bottom: 10px ;
}

.photographer__infos__local{
    color: #901C1C;
    font-size:70px;
}
.photographer__infos__tagline{
    font-size: smaller;
    color: lightslategray;
    font-size: 50px;
}

.photographer__cover {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.photographer_header article img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    
}

.media__cover{
    height: 600px;
    width: 700px;
    overflow: hidden;
    border-radius: 1%;
}

.medias_section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 100px;
    grid-row-gap: 50px;
    margin-right: 5%;
    margin-left: 5%;
}
.medias_section article img{
    height: 600px;
    width: 700px;
    object-fit: cover;
}

.medias_section article video{
    height: 600px;
    width: 700px;
    object-fit: cover;
}

.contact_button {
    font-size: 29px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 250px;
    height: 100px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 500px;
    margin-left:145px;
}

.title_likes{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.likes{
    font-size: 25px;
    margin-right:15px;
}
.likes_heart{
    align-items: flex-end;
    
}

.likes_heart :nth-child(1n){
    height: 30px;
    width:30px;
    color: #901C1C;
    margin-bottom: -6px;
}


.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}